{
  "config": {
    "transcriptome": {
      "usage": "T",
      "fastq":"",
      "bam":"",
      "readcounts":"GD660.GeneQuantCount.txt",
      "gene_length_file":"gencode.v24.annotation.gtf.gene_length_unionexon.txt",
      "TPM":"",
      "RSEM":{
        "rsem_path":"",
        "pnum": "",
        "paired-end":"",
        "reffile":"",
        "mapping_software":"",
        "mapping_software_path":"",
        "output_genome_bam":"",
        "estimate-rspd":"",
        "append_names":""
      },
      "transcriptomeQC":{
        "RLEFilterPercent":0.05,
        "DSFilterPercent":0.05,
        "hcluster":{
          "topk_genes":100,
          "cluster_percent":0.6,
          "pvalues.cut":0.05,
          "cluster_level":5
        },
        "low_expr_TPM":0.1,
        "low_expr_TPM_percent":0.2,
        "TPM_pseudo_count":0.01,
        "covariants":"TRUE",
        "covariants_file":"test.cov",
        "gender_check":{
          "Female_specific_gene":"ENSG00000229807",
          "Male_specific_gene":"ENSG00000129824"
        }
      }
    },
    "genotyping": { 
        "usage": "F" ,
        "plink":"/home/junpeng/Documents/project/GenoType/plink-1.07-x86_64/DATA.CleanSNPs",
        "VCF":"",
        "workdir":"/home/junpeng/Documents/GEUV",
        "genotyping_rate":"0.05",
        "call_rate":"0.05",
        "HWE":"1e-6",
        "MAF":"0.01",
        "F_outlier_n_sd":"4",
        "smartpca":{
          "m":"5",
          "k":"2",
          "t":"2"
        },
        "population":"Hapmap3.QC",
        "Imputation":"TRUE"
    }
  }
}
